# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f475e976f949c1162153cb53ed7acbf4825076015018a3f41fbc09b1bae120471e45b565a961ed66e367360222f50cb731e96b37a542645504ddd75f6b821181

test:
  secret_key_base: ce80ce51512013b74159dd6a5d9b76edb73657c65ece3476242217bb797aa8d8055beaebb9bda08bba8f786543fb83340d232f7d96946a8561f237743da978ec

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 
